@import "tailwindcss";

.App {
  @apply flex flex-row min-h-screen;

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* Sidebar */
.sidebar {
  @apply w-[25vw] bg-[#02040F] text-[#f0f0f0] p-4 pt-[15vh];
  font-family: "Roboto", sans-serif;

  @media (max-width: 768px) {
    display: none;
  }
}

.address-list {
  @apply mt-4 p-2 rounded-md text-white;
}

.search-button {
  @apply flex justify-center items-center gap-5 h-[6vh];
}

.cep-button {
  @apply w-[100%] text-left p-4 bg-transparent text-white rounded-md mt-2 hover:bg-[#272e4b];
  @apply flex justify-between items-center text-2xl bg-[#202020];
}

.empty-message {
  @apply text-gray-400 italic;
}

/* Área de conteúdo */
.content {
  @apply w-[75vw] flex flex-col items-center justify-center mt-10;
}

.input-container {
  @apply border-2 rounded-md p-4 flex w-[30vw] justify-between items-center;

  @media (max-width: 768px) {
    width: 75vw;
    @apply border-0;
  }
}

.modalContent {
  @apply bg-white p-4 mt-4 w-[30vw] border-b-2;

  @media screen and (max-width: 768px) {
    width: 75vw;
  }
}

.modalContent p {
  @apply flex justify-between items-center mt-4 text-2xl;

  @media screen and (max-width: 768px) {
    font-size: 1em;
    text-align: end;
  }
}

.inputCEP {
  @apply p-2 border-b-2 h-[6vh] w-[20vw];

  @media (max-width: 768px) {
    width: 90vw;
  }
}

.modal {
  background-color: "#fff";
  border-radius: 8px;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  max-width: 90vw;
  width: 100%;
  max-height: 50vh;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.address-card {
  @apply bg-gray-200 p-4 rounded-md mt-4 w-[30vw] shadow-md;

  @media (max-width: 768px) {
    width: 75vw;
  }
}

button {
  @apply bg-blue-500 text-white px-4 py-2 rounded-md mt-2 hover:bg-blue-700;
}

.delete-button {
  @apply ml-2 text-white hover:text-red-800 bg-transparent hover:bg-transparent;
}

.modal-delete {
  @apply bg-red-500 text-white px-4 py-2 rounded-md mt-2 hover:bg-red-700;
}

.mobileAddress {
  display: none;

  @media (max-width: 768px) {
    display: flex;
  }
}

.modal-close {
  width: 20%;
  height: 5vh;
  font-size: 1.5em;
  font-weight: bold;
}
